@(account: Option[Entity[Account]])(implicit webJarAssets: WebJarAssets)
@_template(account) {
    <div class="row column">
        <h1>Welcome to Digital Hudson!</h1>
        <p>
            Digital Hudson is a project created by Tim Moore to achieve certain goals.
        </p>
    </div>
    <div class="row">
        <div class="medium-6 columns">
            <a href="https://pixabay.com/photo-1417278/">
                <img src="@routes.Assets.at("img/mobile-page.jpg")" alt="Digital Hudson" />
            </a>
        </div>
        <div class="medium-6 columns">
            <p>
                You can learn more about this project from Tim and one day it promises to make your job more easy.
            </p>
            <p>
                Digital Hudson is a web application based on:
            </p>
            <ul>
                <li><a href="http://www.scala-lang.org/">Scala, aka Master's level Java, as the programming language</a></li>
                <li><a href="http://www.scala-sbt.org/">The infamous SBT build tool</a></li>
                <li><a href="https://www.playframework.com/">Play Framework for a web application framework</a></li>
                <li><a href="https://github.com/t2v/play2-auth/">Play2-auth as authentication module for Play</a></li>
                <li><a href="http://www.postgresql.org">PostgreSQL, the open source world's greatest database</a></li>
                <li><a href="http://slick.lightbend.com">Slick as a functional relational database mapper for the access layer</a></li>
                <li><a href="https://github.com/tminglei/slick-pg">
                    Slick-pg extends Slick to support PostgreSQL's etended data types</a></li>
                <li><a href="http://foundation.zurb.com/">Foundation as a front-end framework</a></li>
                <li><a href="http://github.com/">Git and Github for version control</a></li>
                <li><a href="http://heroku.com/">SalesForce's Heroku for PaaS functionality</a></li>
            </ul>
            <p>
                Check back here to see progress over the next couple of months.
            </p>
        </div>
    </div>
}
